@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body,
#root {
  background: #ffffff !important;
  color: #171717;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Utilities */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
